@charset "UTF-8";
/*footer(풋터)*/
.footer {
	/* border: 1px solid black; */
	width: 100%;
	height: 235px;
	background-color: #fafbfe;
	border-top:3px solid #f5f5f5;
}

.footerInner {
	/*border: 1px solid red;*/
	width: 1440px;
	height: 100%;
	margin: 0 auto;
}

.footer_inner_left>.busyInfo {
	/*border: 1px solid red;*/
	width: 50%;
	margin: 0 auto;
}

.footer_inner_right>.busyInfo {
	/*border: 1px solid red;*/
	width: 65%;
	margin: 0 auto;
}

.busyInfo p:first-child {
	font-size: 20px;
}

.footer_inner_left {
	/*border: 1px solid red;*/
	width: 40%;
	height: 100%;
	float: left;
	font-size: 20px;
	vertical-align: middle;
	padding-top: 20px;
}

.busyInfo span, .tel {
	font-size: 20px;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.footer_inner_right {
	/*border: 1px solid red;*/
	width: 60%;
	height: 100%;
	float: left;
	padding-top: 20px;
}