@charset "UTF-8";
/*header(헤더)*/
.header {
	/* border: 1px solid black; */
	width: 100%;
	height: 240px;
	background: #FFFFFF;
	
}

.headerfixed{
	/* border: 1px solid black; */
	background: #FFFFFF;
	width: 100%;
	height: 240px;
	/* position:fixed;
	top: 0; */
}

.logo {
	/* border: 1px solid blue; */
	width: 100%;
	height: 170px;
}

.logoImg {
	/* border: 1px solid blue; */
	width: 300px;
	height: 100%;
	margin: 0 auto;
	cursor:pointer;
	
	background-image: url(/resources/images/logo.png);
	background-size: 100% 100%;
	
	
}

.navi {
	/* border: 1px solid red; */
	width: 100%;
	height: 70px;
}

.empty {
	/* border: 1px solid red; */
	width: 30%;
	height: 100%;
	float: left;
}

.naviText {
	/* border: 1px solid red; */
	width: 40%;
	height: 100%;
	float: left;
	text-align: center;
}

.naviText>ul {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.naviText>ul>li {
	display: inline-block;
	list-style: none;
	margin: 0 30px;
	line-height: 70px;
}

.naviText>ul>li a {
	/*font-family: 'Black Han Sans', sans-serif;*/
	color: black;
	text-decoration: none;
	font-size: 26px;
	/*font-weight: normal;*/
}

.empty>ul {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.empty>ul>li {
	display: inline-block;
	list-style: none;
	margin: 0 5px;
}

.empty>ul>li a {
	/*font-family: 'Black Han Sans', sans-serif;*/
	text-decoration: none;
	font-size: 26px;
	/*font-weight: bold;*/
	line-height: 48px;
}

.login {
	height: 47px;
	background: #FD6F22;
	border: 1px solid #FD6F22;
	box-sizing: border-box;
	border-radius: 25px;
	padding: 0 20px;
	position: relative;
	top: 11.5px;
}

.login a {
	color: #ffffff;
}

.enroll a {
	color: black;
}

.enroll {
	height: 47px;
	background: #ffffff;
	border: 1px solid #FD6F22;
	box-sizing: border-box;
	border-radius: 25px;
	padding: 0 20px;
	position: relative;
	top: 11.5px;
}