@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap);
.header {
	background-color:white;
	height:240px;
	width:100%;
}

.login-form{
	width: 290px;
}

.h2{
    margin-bottom: 1rem;
}

.footer{
	background-color:white;
	height: 235px;
	width:100%;
}

input::placeholder{
  color: #919CA7;
  font-size: 14px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 420px;
  margin: 105px auto;
  padding: 35px 70px 55px 70px;
  text-align: center;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.1));
}

.form input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 1px solid #b3b3b3;
  margin: 0 0 5px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ff8000;
  width: 100%;
  border: 0;
  padding: 12px;
  color: white;
  font-size: 15px;
  font-weight:bold;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;k
  cursor: pointer;
  border-radius: 5px;
  margin-top:14px;
  margin-bottom:6px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ff8000;
}

.form .message {
  margin: 0 0 10px;
  color: #b3b3b3;
  font-size: 12px;
  text-decoration : none;
}

placeholder {
  color: #919CA7;
  font-size: 15px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #FAFBFE; /* fallback for old browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;  
}