@charset "UTF-8";
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); 
    
    * {
        font-family: 'noto sans kr';
        font-size: 15px;        
        
        box-sizing: border-box;
        margin: 0px;
    } 
        
    #wrap {
        position:relative;
        width: 100%;
        height: 100%;               
    }
     
    
    #carouselBox {
        position: relative;
        top:257px;
        width:100%;
        height: 500px;
        background-color: #C4C4C4;        
    	color: black;
    }
    
    #prev{
        cursor: pointer;
        position: absolute;
        top: 160px;
        left: 212px;
        width: 50px;
        height: 100px; 
        font-size: 60px;
        z-index: 9;
    }
    
    #next:hover{
        transform: scale(1.4);
        transition-property: transform;
        transition-duration: 0.3s;
    }
        
    
     #next{
        cursor: pointer;
        width: 50px;
        height: 100px;  
        font-size: 60px;
         
        position: absolute;
        top: 160px;
        right: 212px;
        font-size: 60px;
        z-index: 9;                  
    }
    
    #prev:hover{
        transform: scale(1.4);
        transition-property: transform;
        transition-duration: 0.3s;
    }

    .slideItem {
        width: 100%;
        height: 382px;        
        
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        z-index: 0;
        opacity: 0;
        transition: all .5s ease-in-out;
        transform: scale(0.9);
        border-radius: 20px 20px;
    }
    
    .show {
	opacity: 1;
	z-index: 1;
	transform: none;
    }

    
    #contentsBox{
        height: 2380px;
        width: 100%;
        background-color: #FAFBFE;
        position:absolute;
        top: 758px;
        text-align: center;
    }

    #diaryBox{
        position: relative;
        top:50px; 			
        width:920px;
        height: 675px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px 10px;
        
        margin: 0 auto;
    }    
    
    #diaryTitle{
        position: relative;
        left:202px;
        top: 20px;
        width: 515px;
        height: 86px;        
        line-height: 36px;
        text-align: center;
        color: #919CA7;                
    }
    
    #diaryTitle>p{
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
    }
    
    #diaryContent {
        border: 1px solid black;        
        cursor: pointer;
        position: relative;
        top:58px;
        left:30px;
        width: 859px;
        height: 470px;    
        border-radius: 20px;
        filter: drop-shadow( 0px 4px 4px rgba(0, 0, 0, 0.25) );
    }
    
     #areaBox{         
        position: relative;
        top: 100px;
        width:920px;
        height: 1036px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px 10px;
        
        margin: 0 auto;
    }    
    
    #areaTitle {
        position: relative;
        top: 20px;
        left:210px;
        line-height: 36px;
        text-align: center;
        color: #919CA7;
        width: 500px;
        height: 80px;               
    }   
    
    #areaTitle>p{
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
    }
    
    .row1{
        border: 1px solid black;
        
        cursor: pointer;
        width: 238px;
        height: 374px;
        border-radius: 20px 20px;
        display: inline-block;
        
        position: relative;
        top: 74px;
        left: 25px;
        margin: 25px;
    }
    
    .petPic {
        border: 1px solid red;
        height: 30%;
        width: 100%;
        border-radius: 20px 20px 0 0;        
    }
    
    .petProfile{
        height: 70%;
        width: 100%;
    }        
    
    .petProfile table{        
        text-align: center;
        
        height: 100%;
        width: 100%;
    }
    .petProfile table>span{
        
    }
    
    .row2{
        border: 1px solid black;
        
        cursor: pointer;
        width: 238px;
        height: 374px;
        border-radius: 20px 20px;
        display: inline-block;
        
        position: relative;
        top: 74px;
        left: 25px;
        margin: 25px;
    }
    
    #communityBox {
        position: relative;
        top: 150px;
        width: 920px;
        height: 470px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px 10px;
        
        margin: 0 auto;
    }
    
    #communityTitle {
        position: absolute;
        top: 20px;
        left: 210px;
        
        line-height: 36px;
        text-align: center;
        color: #919CA7;
        width: 500px;
        height: 80px;               
    } 
    
    #communityTitle>p{
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
    }
    
    .comBox1 {
       cursor: pointer;
       width: 240px;
       height: 230px;
       background-color: #C4C4C4;
        
       position: absolute;
       left: 50px;
       bottom: 60px;  
    }
    
     .comBox2 {
       cursor: pointer;
       width: 240px;
       height: 230px;
       background-color: #C4C4C4;
        
       position: absolute;
       left: 340px;
       bottom: 60px;  
    }
    
     .comBox3 {
       cursor: pointer; 
       width: 240px;
       height: 230px;
       background-color: #C4C4C4;
        
       position: absolute;
       left: 630px;
       bottom: 60px;  
    }
    
    #header {
    cursor: pointer; 
    border: 1plx solid black;
    width: 100%;    
    top:0;
    }
    
    #footer{
        width: 100%;
        position: absolute;
        top: 3100px;
        height: 235px;
    }
 
