@charset "UTF-8";
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');   
 
    * {
        font-family: 'noto sans kr';
        font-size: 15px;        
        
        box-sizing: border-box;
        margin: 0px;
    }
    
    #wrap {
        width: 100%;
        height: 240px;
        position: absolute;
    }
    
    #head {
        cursor:pointer;
        position: relative;
        left:645px;
        width: 550px;
        top: 7px;
        bottom:  7px;
        height: 180px;
        text-align: center;                      
    }
    
    #head>div{        
        background-image: url(/resources/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;    
       
        width: 80%;
        height: 100%;
        display: inline-block;
        
    }
    
    #head>div:hover{
        transform: scale(1.1);
        transition-property: transform;
        transition-duration: 0.2s;
    }
    
    #menuWrap {
        position: relative;
        width: 100%;
        height: 70px;        
    }
    
    #menuBox {
        width: 652px;
        height: 50px;
        font-family: 'Noto Sans KR';
        
        position: absolute;
        top: 20px;
        left: 598px;        
    }
    
    #menuBox>span>span {        
        font-size: 23px;
        font-weight: bold;
        cursor:pointer;
    }
    
    #menuBox>span>span:hover{
        transform: scale(1.4);
        transition-property: transform;
        transition-duration: 0.3s;
    }
    
    #diary {
        position: absolute;
        right: 512px;
    }

    #area{
        position: absolute;
        right: 372px;
    }
    
    #community {
        position: absolute;
        right: 212px;
    }
    
    #vet {
        position: absolute;
        left: 519px;
    }
    
    
    
    #loginBox {
        width: auto;
        height: 47px;
        background-color: #FD6F22;
        border-radius: 25px 25px; 
        text-align:center;
        padding-right: 10px;
        padding-left: 10px;
        position: absolute;
        right: 15%;
        top: 12px;
    }
    
    #logoutBox {
        width: auto;
        height: 47px;
        background-color: #FD6F22;
        border-radius: 25px 25px; 
        text-align:center;
		padding-right: 10px;
        padding-left: 10px;
        position: absolute;
        right: 15%;
        top: 12px;
    }
    
    #joinBox {
        width: auto;
        height: 47px;
        border-radius: 25px 25px; 
        border: 1px solid #FD6F22;
        box-sizing: border-box;   
        text-align:center;
		padding-right: 10px;
        padding-left: 10px;
        position: absolute;
        right: 5%;
        top: 12px;
    }
    
     #infoBox {
        width: auto;
        height: 47px;
        border-radius: 25px 25px; 
        border: 1px solid #FD6F22;
        box-sizing: border-box;   
        text-align:center;
		padding-right: 10px;
        padding-left: 10px;
        position: absolute;
        right: 5%;
        top: 12px;
    }
    
    #login {
        cursor:pointer;
        line-height: 47px;
        vertical-align: middle;
        font-size: 25px;
        color: #ffffff;
    }
    
    #loginBox:hover{        
      color: #fff;
      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #FD6F22;
    }
    
    #logout {
        cursor:pointer;
        line-height: 47px;
        vertical-align: middle;
        font-size: 25px;
    }
    
    #logoutBox:hover{        
      color: #fff;
      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #FD6F22;
    }
    
    
     #join {
        cursor:pointer;
        line-height: 47px;
        vertical-align: middle;
        font-size: 25px;       
    }
    
    #joinBox:hover{
     color: #FD6F22;     
    }
    
     #info {
        cursor:pointer;
        line-height: 47px;
        vertical-align: middle;
        font-size: 25px;       
    }
    
    #infoBox:hover{
     color: #FD6F22;     
    }

    .headUnderline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffb000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.headUnderline:hover:after { 
  width: 100%; 
  left: 0; 
}
