@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  color: #919CA7;
  background: #919CA7;
}

.header{
  height:240px;
  background-color:white;
}

.footer{
	height: 235px;
	background-color:white;
}

#logo{
	width: 125px;
 	height: 75px;
 	margin: 0px auto;
}

#user_icon {
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 75px;
 	height: 75px;
 	border-radius: 70%;
    overflow: hidden;
}


form {
  max-width: 300px;
  margin: 105px auto;
  padding: 30px 10px;
  background: #ffffff;
  border-top-left-radius : 0px;
  border-top-right-radius : 0px;
  border-bottom-right-radius : 5px;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.1));
}

h2 {
  margin: 0 0 20px 0;
  text-align: center;
  color: #400040;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="email"],
input[type="select"]
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 30px;
  border: 1px solid #efece8;
  border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

input::placeholder{
  color: #919CA7;
  font-size: 13px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 5px;
  color:#919CA7;
  font-size: 15px;
}


button {
  padding: 19px 39px 18px 39px;
  color: #3c1e00;
  background-color: #ff8000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ffffff;
  margin-top: 10px;
}

fieldset {
  margin-bottom: 10px;
  margin-top: 20px;
  border: none;
  padding: 35px 70px 35px 70px;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top:20px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 1px solid #b3b3b3;
  margin: 0 0 5px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.input_form {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 0px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  border-width:1px 1px 0px 1px;
}

.input_form_last {
   background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 500px;
  }
}