@charset "UTF-8";
* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #919CA7;
}

.wrap {
	/* border: 1px solid red; */
	width: 100%;
	height: 1592px;
	background: #FAFBFE;
}



/*container(컨테이너)*/
.container {
	/* border: 1px solid black; */
	width: 1440px;
	height: 1117px;
	margin: 0 auto;
}

/*사이드 네비*/
.naviSide {
	border: 1px solid #eef2f7;
	width: 268px;
	height: 900px;
	position: relative;
	top: 105px;
	border-radius: 5px;
	float: left;
	background: #FFFFFF;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.10));
}

.side_menu {
	margin-top: 64px;
}

.side_menu>li {
	margin-bottom: 45px;
	list-style: none;
}

.side_menu>li>a {
	color: #919CA7;
	text-decoration: none;
}

.side_menu>li:first-child>a {
	color: #000000;
}

.side_menu>li:hover>a {
	color: #000000;
}

.side_menu>li:hover ul {
	display: block;
}

.side_submenu {
	padding-left: 15px;
	display: none;
}

.side_submenu>li {
	list-style: none;
	margin: 10px 0 10px 0;
}

.side_submenu>li>a {
	color: #919CA7;
	text-decoration: none;
	font-size: 13px;
}

.side_submenu>li:hover>a {
	color: #000000;
}

/*컨텐츠*/
.content {
	border: 1px solid #eef2f7;
	width: 1152px;
	height: 900px;
	position: relative;
	top: 105px;
	border-radius: 5px;
	float: right;
	background: #FFFFFF;
	text-align: center;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.10));
}

/*제목*/
.content>p {
	font-size: 25px;
	margin: 0;
	position: relative;
	top: 64px;
	color: #000000;
}

/*메인 컨텐츠 div*/
.contentCenter {
	/*border: 1px solid red;*/
	width: 890px;
	height: 700px;
	margin: 0 auto;
	position: relative;
	top: 110px;
}

.contentCenterInner {
	/*border: 1px solid yellow;*/
	width: 100%;
	height: 90%;
	/* text-align: center;*/
	display: flex;
	justify-content: center;
}

.dogInfo {
	width: 450px;
	height: 589px;
	border: 1px solid #919CA7;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	/*float: left;*/
	margin: 0 20px;
	/*display: inline-block;*/
}

.dogImg {
	width: 100%;
	height: 190px;
	border: 1px solid #919CA7;
	border-radius: 5px 5px 0px 0px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	border-radius: 5px 5px 0px 0px;
}

.dogInfoText {
	/*border: 1px solid blue;*/
	width: 100%;
	height: 398px;
	border-radius: 0px 0px 5px 5px;
}

table {
	margin: 0 auto;
	position: relative;
	top: 10px;
}

td {
	text-align: left;
	height: 50px;
}

tr>td:first-child {
	width: 150px;
}

tr>td:last-child {
	/*padding-left: 15px;*/
	
}

label {
	display: inline-block;
	width: 70px;
	height: 100%;
	line-height: 50px;
}

select {
	border: 1px solid #919CA7;
	height: 37px;
	border-radius: 5px;
	padding: 0 5px 0 5px;
	height: 35px;
}

input[type=text], input[type=email] {
	width: 220px;
	height: 35px;
	border: 1px solid #919CA7;
	border-radius: 5px;
	padding: 0 8px 0 8px;
}

.btn {
	/*border: 1px solid #FD6F22;*/
	position: relative;
	bottom: -40px;
	clear: both;
}

.cancelBtn {
	width: 67px;
	height: 40px;
	border: 1px solid #FD6F22;
	background-color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.10));
	margin: 0 13px;
}

.enrollBtn {
	width: 67px;
	height: 40px;
	border: 1px solid #FD6F22;
	background-color: #FD6F22;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.10));
	margin: 0 13px;
}
